:root
{
    --ss-colors-grid-light-grey-1: #2b2b2b;
    --ss-colors-grid-light-grey-2: rgba(51, 51, 51, 0.4);
    --ss-colors-grid-light-grey-3: rgba(51, 51, 51, 1);
    
    --ss-metrics-grid-25 : 25;
}